In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context("talk")
sns.set_style("white")

In [4]:
ref = pd.read_csv("../reference.csv")
ref

    cases    fulldate
0      64  2014-01-01
1     144  2014-02-01
2     231  2014-03-01
3     171  2014-04-01
4      14  2014-05-01
5      53  2014-06-01
6      24  2014-07-01
7       9  2014-08-01
8      18  2014-09-01
9       7  2014-10-01
10      5  2014-11-01
11     10  2014-12-01
12     71  2015-01-01
13    124  2015-02-01
14    112  2015-03-01
15    133  2015-04-01
16    132  2015-05-01
17     53  2015-06-01
18     13  2015-07-01
19     26  2015-08-01
20     44  2015-09-01
21     24  2015-10-01
22     31  2015-11-01
23      9  2015-12-01
24      1  2016-01-01
25      5  2016-02-01
26      8  2016-03-01
27     26  2016-04-01
28     13  2016-05-01
29     32  2016-06-01
30      6  2016-07-01
31      1  2016-08-01
32     14  2016-09-01
33      7  2016-10-01
34      7  2016-11-01
35      9  2016-12-01
36     28  2017-01-01
37     45  2017-02-01
38     87  2017-03-01
39    156  2017-04-01
40    189  2017-05-01
41     79  2017-06-01
42     39  2017-07-01
43     31  2017-08-01
44     44  2017-09-01
45     80  2017-10-01
46     47  2017-11-01
47     36  2017-12-01
48     18  2018-01-01
49     14  2018-02-01
50     42  2018-03-01

In [1]:
pop = 3900

In [8]:
ref["cases_per_1000"] = ref["cases"]*1000/pop
ref["cases_per_1000_per_year"] = ref["cases_per_1000"]*12
ref["cases_per_person_per_year"] = ref["cases_per_1000_per_year"]/1000
ref

,cases,fulldate,cases_per_1000,cases_per_1000_per_year,cases_per_person_per_year
0,64,2014-01-01,16.410256,196.923077,0.196923
1,144,2014-02-01,36.923077,443.076923,0.443077
2,231,2014-03-01,59.230769,710.769231,0.710769
3,171,2014-04-01,43.846154,526.153846,0.526154
4,14,2014-05-01,3.589744,43.076923,0.043077
5,53,2014-06-01,13.589744,163.076923,0.163077
6,24,2014-07-01,6.153846,73.846154,0.073846
7,9,2014-08-01,2.307692,27.692308,0.027692
8,18,2014-09-01,4.615385,55.384615,0.055385
9,7,2014-10-01,1.794872,21.538462,0.021538
10,5,2014-11-01,1.282051,15.384615,0.015385
11,10,2014-12-01,2.564103,30.769231,0.030769
12,71,2015-01-01,18.205128,218.461538,0.218462
13,124,2015-02-01,31.794872,381.538462,0.381538
14,112,2015-03-01,28.717949,344.615385,0.344615
15,133,2015-04-01,34.102564,409.230769,0.409231
16,132,2015-05-01,33.846154,406.153846,0.406154
17,53,2015-06-01,13.589744,163.076923,0.163077
18,13,2015-07-01,3.333333,40.000000,0.040000
19,26,2015-08-01,6.666667,80.000000,0.080000
20,44,2015-09-01,11.282051,135.384615,0.135385
21,24,2015-10-01,6.153846,73.846154,0.073846
22,31,2015-11-01,7.948718,95.384615,0.095385
23,9,2015-12-01,2.307692,27.692308,0.027692
24,1,2016-01-01,0.256410,3.076923,0.003077
25,5,2016-02-01,1.282051,15.384615,0.015385
26,8,2016-03-01,2.051282,24.615385,0.024615
27,26,2016-04-01,6.666667,80.000000,0.080000
28,13,2016-05-01,3.333333,40.000000,0.040000
29,32,2016-06-01,8.205128,98.461538,0.098462
30,6,2016-07-01,1.538462,18.461538,0.018462
31,1,2016-08-01,0.256410,3.076923,0.003077
32,14,2016-09-01,3.589744,43.076923,0.043077
33,7,2016-10-01,1.794872,21.538462,0.021538
34,7,2016-11-01,1.794872,21.538462,0.021538
35,9,2016-12-01,2.307692,27.692308,0.027692
36,28,2017-01-01,7.179487,86.153846,0.086154
37,45,2017-02-01,11.538462,138.461538,0.138462
38,87,2017-03-01,22.307692,267.692308,0.267692
39,156,2017-04-01,40.000000,480.000000,0.480000
40,189,2017-05-01,48.461538,581.538462,0.581538
41,79,2017-06-01,20.256410,243.076923,0.243077
42,39,2017-07-01,10.000000,120.000000,0.120000
43,31,2017-08-01,7.948718,95.384615,0.095385
44,44,2017-09-01,11.282051,135.384615,0.135385
45,80,2017-10-01,20.512821,246.153846,0.246154
46,47,2017-11-01,12.051282,144.615385,0.144615
47,36,2017-12-01,9.230769,110.769231,0.110769
48,18,2018-01-01,4.615385,55.384615,0.055385
49,14,2018-02-01,3.589744,43.076923,0.043077
50,42,2018-03-01,10.769231,129.230769,0.129231