In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Goal: Get data from Sept 2021 Magude calib to feed into history matching-style emulation

- create sim map
- run analyzer to get monthly cases

In [2]:
from jsuresh_helpers.analyzers.create_sim_map import get_sim_map

/!\ WARNING: File 'idmtools.ini' Not Found! For details on how to configure idmtools, see https://docs.idmod.org/projects/idmtools/en/v1.6.4/configuration.html for details on how to configure idmtools.

In [3]:
experiment_id = "8faf544c-6205-ec11-a9ed-b88303911bc1"

In [4]:
df_sims = get_sim_map(experiment_id=experiment_id)
df_sims

[SLURM]
{
   "endpoint": "https://comps.idmod.org",
   "environment": "Calculon"
}

,__sample_index__,__site__,actual_species_ratio_compared_to_observed,exe_collection_id,habitat_scale,input_collection_id,irs_rescale_factor,population_rescale_factor,regional_eir_scale,Run_Number,sim_id,outpath
0,0,Panjane-Caputine,0.5509566897660476,3e4c825e-0dbf-eb11-a9ec-b88303911bc1,8.0,3a31b5aa-fed9-eb11-a9ec-b88303911bc1,1.0453412452333446,0.9951345726902708,1.6204184314598729,1,3729cc65-6205-ec11-a9ed-b88303911bc1,//mnt/idm2/home/jsuresh/output/Panjane-Caputin...
1,1,Panjane-Caputine,0.5984050429677118,3e4c825e-0dbf-eb11-a9ec-b88303911bc1,7.9707612251080135,3a31b5aa-fed9-eb11-a9ec-b88303911bc1,0.9725225342507053,1.0,2.0,1,3829cc65-6205-ec11-a9ed-b88303911bc1,//mnt/idm2/home/jsuresh/output/Panjane-Caputin...
2,2,Panjane-Caputine,0.4718563385585056,3e4c825e-0dbf-eb11-a9ec-b88303911bc1,8.0,3a31b5aa-fed9-eb11-a9ec-b88303911bc1,1.0302214060776727,0.9445902028838681,1.6208518618611674,1,3929cc65-6205-ec11-a9ed-b88303911bc1,//mnt/idm2/home/jsuresh/output/Panjane-Caputin...
3,3,Panjane-Caputine,1.6852118816425037,3e4c825e-0dbf-eb11-a9ec-b88303911bc1,7.878179913528187,3a31b5aa-fed9-eb11-a9ec-b88303911bc1,0.957819319922977,1.0,1.7978000285671187,1,3a29cc65-6205-ec11-a9ed-b88303911bc1,//mnt/idm2/home/jsuresh/output/Panjane-Caputin...
4,4,Panjane-Caputine,0.5191369588327038,3e4c825e-0dbf-eb11-a9ec-b88303911bc1,8.0,3a31b5aa-fed9-eb11-a9ec-b88303911bc1,1.006611598368242,0.8972172651739725,1.6951624262310583,1,3b29cc65-6205-ec11-a9ed-b88303911bc1,//mnt/idm2/home/jsuresh/output/Panjane-Caputin...
...,...,...,...,...,...,...,...,...,...,...,...,...
251,43,Panjane-Caputine,0.25,3e4c825e-0dbf-eb11-a9ec-b88303911bc1,8.0,3a31b5aa-fed9-eb11-a9ec-b88303911bc1,1.118423267810956,0.9366742797264265,1.3535700488138454,4,5863949b-6205-ec11-a9ed-b88303911bc1,//mnt/idm2/home/jsuresh/output/Panjane-Caputin...
252,44,Panjane-Caputine,0.5316323652895528,3e4c825e-0dbf-eb11-a9ec-b88303911bc1,8.0,3a31b5aa-fed9-eb11-a9ec-b88303911bc1,1.0867147500702525,0.9879567625432206,1.5994069035066392,4,5963949b-6205-ec11-a9ed-b88303911bc1,//mnt/idm2/home/jsuresh/output/Panjane-Caputin...
253,45,Panjane-Caputine,0.5419614179446013,3e4c825e-0dbf-eb11-a9ec-b88303911bc1,8.0,3a31b5aa-fed9-eb11-a9ec-b88303911bc1,1.0465379445011591,0.9952122686382543,1.6257768923835814,4,5a63949b-6205-ec11-a9ed-b88303911bc1,//mnt/idm2/home/jsuresh/output/Panjane-Caputin...
254,46,Panjane-Caputine,0.4544149487583239,3e4c825e-0dbf-eb11-a9ec-b88303911bc1,8.0,3a31b5aa-fed9-eb11-a9ec-b88303911bc1,1.0051292949841122,1.0,1.563741662385294,4,5b63949b-6205-ec11-a9ed-b88303911bc1,//mnt/idm2/home/jsuresh/output/Panjane-Caputin...
255,47,Panjane-Caputine,0.6454567068535175,3e4c825e-0dbf-eb11-a9ec-b88303911bc1,8.0,3a31b5aa-fed9-eb11-a9ec-b88303911bc1,1.0517355581311887,0.983109393985986,1.7755431824003953,4,5c63949b-6205-ec11-a9ed-b88303911bc1,//mnt/idm2/home/jsuresh/output/Panjane-Caputin...

In [26]:
df_sims["__sample_index__"] = df_sims["__sample_index__"].astype(int)
df_sims = df_sims[["__sample_index__", "actual_species_ratio_compared_to_observed", "habitat_scale", "irs_rescale_factor", "population_rescale_factor", "regional_eir_scale", "Run_Number"]]

In [5]:
# Analyzer to get monthly case counts:

In [6]:
# tried to define this analyzer in the notebook itself but apparently this is a deep python issue that hasn't been resolved: https://github.com/pytorch/pytorch/issues/28258
from incidence_analyzer import MonthlyIncidence

In [7]:
# from jsuresh_helpers.analyzers.run_analyzer import run_analyzer_as_ssmt
# run_analyzer_as_ssmt(experiment_id=experiment_id, analyzers = [MonthlyIncidence], analyzer_args=[{}])

# Honestly a lot easier to just run this in a python script then load output into notebook

In [10]:
df_cases = pd.read_csv("test.csv")
df_cases

      sample  year  month       cases            N
0          0   5.0    1.0  184.099896  3901.176309
1          0   5.0    2.0  162.953286  3901.176309
2          0   5.0    3.0  405.268555  3901.176309
3          0   5.0    4.0  474.679191  3901.176309
4          0   5.0    5.0  402.531935  3901.176309
...      ...   ...    ...         ...          ...
3835       9   9.0    8.0    7.750000  3882.750000
3836       9   9.0    9.0    4.750000  3882.750000
3837       9   9.0   10.0    9.000000  3882.750000
3838       9   9.0   11.0   18.000000  3882.750000
3839       9   9.0   12.0   30.500000  3882.750000

[3840 rows x 5 columns]

In [19]:
df_cases["year"] = df_cases["year"] + 2009

In [24]:
df_ref = pd.read_csv("catchment_incidence.csv")
df_ref = df_ref[df_ref["catchment"]=="Panjane-Caputine"].reset_index(drop=True).drop(columns="catchment")
df_ref

    cases    fulldate
0      64  2014-01-01
1     144  2014-02-01
2     231  2014-03-01
3     171  2014-04-01
4      14  2014-05-01
5      53  2014-06-01
6      24  2014-07-01
7       9  2014-08-01
8      18  2014-09-01
9       7  2014-10-01
10      5  2014-11-01
11     10  2014-12-01
12     71  2015-01-01
13    124  2015-02-01
14    112  2015-03-01
15    133  2015-04-01
16    132  2015-05-01
17     53  2015-06-01
18     13  2015-07-01
19     26  2015-08-01
20     44  2015-09-01
21     24  2015-10-01
22     31  2015-11-01
23      9  2015-12-01
24      1  2016-01-01
25      5  2016-02-01
26      8  2016-03-01
27     26  2016-04-01
28     13  2016-05-01
29     32  2016-06-01
30      6  2016-07-01
31      1  2016-08-01
32     14  2016-09-01
33      7  2016-10-01
34      7  2016-11-01
35      9  2016-12-01
36     28  2017-01-01
37     45  2017-02-01
38     87  2017-03-01
39    156  2017-04-01
40    189  2017-05-01
41     79  2017-06-01
42     39  2017-07-01
43     31  2017-08-01
44     44  2017-09-01
45     80  2017-10-01
46     47  2017-11-01
47     36  2017-12-01
48     18  2018-01-01
49     14  2018-02-01
50     42  2018-03-01

In [25]:
df_ref.to_csv("reference.csv", index=False)

In [34]:
df_save = pd.merge(df_sims, df_cases, left_on=["__sample_index__"], right_on=["sample"])
df_save

,__sample_index__,actual_species_ratio_compared_to_observed,habitat_scale,irs_rescale_factor,population_rescale_factor,regional_eir_scale,Run_Number,sample,year,month,cases,N
0,0,0.5509566897660476,8.0,1.0453412452333446,0.9951345726902708,1.6204184314598729,1,0,2014.0,1.0,184.099896,3901.176309
1,0,0.5509566897660476,8.0,1.0453412452333446,0.9951345726902708,1.6204184314598729,1,0,2014.0,2.0,162.953286,3901.176309
2,0,0.5509566897660476,8.0,1.0453412452333446,0.9951345726902708,1.6204184314598729,1,0,2014.0,3.0,405.268555,3901.176309
3,0,0.5509566897660476,8.0,1.0453412452333446,0.9951345726902708,1.6204184314598729,1,0,2014.0,4.0,474.679191,3901.176309
4,0,0.5509566897660476,8.0,1.0453412452333446,0.9951345726902708,1.6204184314598729,1,0,2014.0,5.0,402.531935,3901.176309
...,...,...,...,...,...,...,...,...,...,...,...,...
15355,63,0.3171843508256324,8.0,1.0366230010978759,1.0,1.5898030037433686,4,63,2018.0,8.0,5.500000,3926.250000
15356,63,0.3171843508256324,8.0,1.0366230010978759,1.0,1.5898030037433686,4,63,2018.0,9.0,7.000000,3926.250000
15357,63,0.3171843508256324,8.0,1.0366230010978759,1.0,1.5898030037433686,4,63,2018.0,10.0,11.500000,3926.250000
15358,63,0.3171843508256324,8.0,1.0366230010978759,1.0,1.5898030037433686,4,63,2018.0,11.0,21.250000,3926.250000
15359,63,0.3171843508256324,8.0,1.0366230010978759,1.0,1.5898030037433686,4,63,2018.0,12.0,34.750000,3926.250000

In [35]:
df_save.drop(columns=["__sample_index__","N"],inplace=True)
df_save

,actual_species_ratio_compared_to_observed,habitat_scale,irs_rescale_factor,population_rescale_factor,regional_eir_scale,Run_Number,sample,year,month,cases
0,0.5509566897660476,8.0,1.0453412452333446,0.9951345726902708,1.6204184314598729,1,0,2014.0,1.0,184.099896
1,0.5509566897660476,8.0,1.0453412452333446,0.9951345726902708,1.6204184314598729,1,0,2014.0,2.0,162.953286
2,0.5509566897660476,8.0,1.0453412452333446,0.9951345726902708,1.6204184314598729,1,0,2014.0,3.0,405.268555
3,0.5509566897660476,8.0,1.0453412452333446,0.9951345726902708,1.6204184314598729,1,0,2014.0,4.0,474.679191
4,0.5509566897660476,8.0,1.0453412452333446,0.9951345726902708,1.6204184314598729,1,0,2014.0,5.0,402.531935
...,...,...,...,...,...,...,...,...,...,...
15355,0.3171843508256324,8.0,1.0366230010978759,1.0,1.5898030037433686,4,63,2018.0,8.0,5.500000
15356,0.3171843508256324,8.0,1.0366230010978759,1.0,1.5898030037433686,4,63,2018.0,9.0,7.000000
15357,0.3171843508256324,8.0,1.0366230010978759,1.0,1.5898030037433686,4,63,2018.0,10.0,11.500000
15358,0.3171843508256324,8.0,1.0366230010978759,1.0,1.5898030037433686,4,63,2018.0,11.0,21.250000
15359,0.3171843508256324,8.0,1.0366230010978759,1.0,1.5898030037433686,4,63,2018.0,12.0,34.750000

In [36]:
df_save.to_csv("sim_output_with_tags.csv", index=False)

In [13]:
df_sims["__sample_index__"]

0       0
1       1
2       2
3       3
4       4
       ..
251    43
252    44
253    45
254    46
255    47
Name: __sample_index__, Length: 256, dtype: object